pom.xml
pom.xml.asc
*.jar
*.class

/lib/
/classes/
/target/
/checkouts/
data/
backtests/
logs/
bin/
.models/
.venv/
__pycache__

.python-version
*.safetensors
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
.clojure-env/
.clj-kondo/.cache

# Persistence snapshots
snapshot*.edn
*.pid
*.log

# emacs
.env
*~
\#*\#
.\#*
